{% assign pub = include.pub %}

<div class="publication">
  <a
    {% if pub.project %}
      href="{{ pub.project | uri_escape }}"
    {% endif %}
    class="publication-image"
    aria-label="{{ pub.title | regex_strip }}"
  >
    <img
      src="{{ pub.image | relative_url | uri_escape }}"
      alt="{{ pub.title | regex_strip }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>

  <div class="publication-text">
    <a
      {% if pub.project %}
        href="{{ pub.project | uri_escape }}"
      {% endif %}
      class="publication-title"
    >
      {{ pub.title }}
    </a>

    <div class="publication-authors">
      {{ pub.authors | markdownify | remove: "<p>" | remove: "</p>" }}
    </div>

    <div class="publication-venue">
      <em>{{ pub.venue }}</em>
      &bull; <span class="publication-short">{{ pub.short }}</span>
      {% if pub.track %}
        {{ pub.track }}
      {% endif %}
    </div>

    {% if pub.presented or pub.award %}
      <div class="publication-presented">
        {% if pub.award %}
          <span class="publication-award">{{ pub.award }}</span>
        {% endif %}
        {% if pub.presented %}
          Presented: {{ pub.presented }}
        {% endif %}
      </div>
    {% endif %}

    <div class="publication-meta">
      <span class="publication-year">{{ pub.year }} Published</span>
      &bull; [{{ pub.id }}]
      &bull; {{ pub.type }}
      &bull; Acceptance Rate: {{ pub.acceptance }}
    </div>

    <div class="publication-links">
      {% if pub.doi %}
        <a href="{{ pub.doi.link | uri_escape }}">
          {% include icon.html icon="fa-solid fa-link" %}
          DOI: {{ pub.doi.text }}
        </a>
      {% endif %}
      {% if pub.arxiv %}
        <a href="{{ pub.arxiv.link | uri_escape }}">
          {% include icon.html icon="fa-solid fa-scroll" %}
          arXiv: {{ pub.arxiv.text }}
        </a>
      {% endif %}
      {% if pub.researchgate %}
        <a href="{{ pub.researchgate.link | uri_escape }}">
          {% include icon.html icon="fa-brands fa-researchgate" %}
          ResearchGate: {{ pub.researchgate.text }}
        </a>
      {% endif %}
      {% if pub.project %}
        <a href="{{ pub.project | uri_escape }}">
          {% include icon.html icon="fa-solid fa-globe" %}
          Project Webpage
        </a>
      {% endif %}
    </div>

    {% if pub.tags %}
      <div class="publication-tags">
        {% for tag in pub.tags %}
          <span class="publication-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
